<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Advanced Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Debug Mode</string>
			<key>Key</key>
			<string>debugMode</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Analytics Enabled</string>
			<key>Key</key>
			<string>analyticsEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Crash Reporting</string>
			<key>Key</key>
			<string>crashReportingEnabled</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Log Level</string>
			<key>Key</key>
			<string>logLevel</string>
			<key>DefaultValue</key>
			<string>info</string>
			<key>Titles</key>
			<array>
				<string>Error</string>
				<string>Warning</string>
				<string>Info</string>
				<string>Debug</string>
			</array>
			<key>Values</key>
			<array>
				<string>error</string>
				<string>warning</string>
				<string>info</string>
				<string>debug</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Cache Settings</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>Cache Size (MB)</string>
			<key>Key</key>
			<string>cacheSizeLimit</string>
			<key>DefaultValue</key>
			<string>100</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Auto Clear Cache</string>
			<key>Key</key>
			<string>autoClearCache</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Advanced</string>
</dict>
</plist>