<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287215877843-pmfg7vcm4mn1e06otg4a8od470qop7n4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287215877843-pmfg7vcm4mn1e06otg4a8od470qop7n4</string>
	<key>API_KEY</key>
	<string>AIzaSyCJOT5a55z-xqPcdQhUIUbfKkrL5aeclcM</string>
	<key>GCM_SENDER_ID</key>
	<string>287215877843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alexlam0206.WordGarden</string>
	<key>PROJECT_ID</key>
	<string>wordgarden</string>
	<key>STORAGE_BUCKET</key>
	<string>wordgarden.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287215877843:ios:b905a17849497707025e26</string>
</dict>
</plist>